In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as mp

In [4]:
file_path = 'titanic.csv'
try:
    df = pd.read_csv(file_path)
    print(f"\nDataset '{file_path}' loaded sucessfully intp a dataframe")

except FileNotFoundError:
    print(f"\nError: File '{file_path}' not found. Please check the file path.")

Dataset 'titanic.csv' loaded sucessfully intp a dataframe

In [5]:
print("------Initial Head--------")
print(df.head())

------Initial Head--------
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
print(df.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [9]:
print(df.describe(include=['O']))

                       Name   Sex  Ticket Cabin Embarked
count                   891   891     891   204      889
unique                  891     2     681   147        3
top     Dooley, Mr. Patrick  male  347082    G6        S
freq                      1   577       7     4      644

In [10]:
#handling missing values for 'Age'
missing_values = df.isnull().sum()
print("Missing Values: \n", missing_values[missing_values > 0])
median_age = df['Age'].median()
df['Age'].fillna(median_age, inplace = True)
print(f"Age coloumn inputed with median: {median_age}")

Missing Values:
 Age         177
Cabin       687
Embarked      2
dtype: int64
Age coloumn inputed with median: 28.0

C:\Users\PARTH\AppData\Local\Temp\ipykernel_28728\3878936337.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(median_age, inplace = True)

In [11]:
#embarked

mode_embarked = df['Embarked'].mode()[0]
df['Embarked'].fillna(mode_embarked, inplace = True)
print(f"Embarked coloumn inputed with mode: {mode_embarked}")

Embarked coloumn inputed with mode: S

C:\Users\PARTH\AppData\Local\Temp\ipykernel_28728\4041122578.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(mode_embarked, inplace = True)

In [12]:
#cabin

df.drop('Cabin', axis = 1, inplace = True)
print("Cabin coloumn dropped")

Cabin coloumn dropped

In [16]:
print("Missing values after cleaning: \n", df.isnull().sum()[df.isnull().sum() > 0])

Missing values after cleaning:
 Series([], dtype: int64)

In [17]:
#Outliers 

Q1 = df['Fare'].quantile(0.25)
Q3 = df['Fare'].quantile(0.75)
IQR = Q3 - Q1

In [18]:
lower_bound = Q1 - 1.5*IQR
upper_bound = Q3 - 1.5*IQR

In [20]:
df['Fare'] = np.where(df['Fare'] > upper_bound, upper_bound, df['Fare'])
df['Fare'] = np.where(df['Fare'] < lower_bound, lower_bound, df['Fare'])

In [23]:
# data-transformation

df['Fare_Log'] = np.log1p(df['Fare'])

C:\Users\PARTH\AppData\Roaming\Python\Python312\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log1p
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [32]:
# cateogarical variables

categorical_cols = ['Sex', 'Embarked']

# Use One-Hot Encoding for nominal variables
df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)
print(f"One-Hot Encoding applied to {categorical_cols} and 'Pclass'.")
print("First few rows of the final transformed DataFrame:")
print(df[['Sex_male', 'Embarked_Q', 'Embarked_S', 'Fare', 'Fare_Log']].head())

KeyError: "None of [Index(['Sex', 'Embarked'], dtype='object')] are in the [columns]"

In [31]:
df.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Fare_log,Fare_Log,Sex_male,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,-3.6344,NaN,NaN,True,False,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,-3.6344,NaN,NaN,False,False,False
2,3,1,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,-3.6344,NaN,NaN,False,False,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,-3.6344,NaN,NaN,False,False,True
4,5,0,3,"Allen, Mr. William Henry",35.0,0,0,373450,-3.6344,NaN,NaN,True,False,True